@import 'tailwindcss';
@plugin 'tailwindcss-primeui';

.scroll-hidden {
    scrollbar-width: none;
}

.header {
    padding: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-slate-700)
}

.cell {
    padding: --spacing(2);
    vertical-align: middle;
}
